# Print Function

In [4]:
print("Hello World")

Hello World

In [5]:
print('Hello World')

Hello World

In [6]:
age=19
print("my age is:",age)

my age is: 19

In [7]:
print("my age is {age}")

my age is {age}

In [10]:
#formatted string literals, f-strings are string literals that have an f before the opening quotation mark.
print(f"my age is {age}")

my age is 19

In [4]:
name="Rahima"
age=19
print("My name is {} and my age is {}".format(age,name))

My name is 19 and my age is Rahima

In [5]:
name="Rahima"
age=19
print("My name is {} and my age is {}".format(name,age))

My name is Rahima and my age is 19

In [8]:
#Place Holder
print("My name is {Firstname} and my age is {Firstage}".format(Firstname=name,Firstage=age))

My name is Rahima and my age is 19

In [7]:
print("My name is {Firstname} and my age is {Firstage}".format(Firstage=age,Firstname=name))

My name is Rahima and my age is 19

## Practice

In [9]:
# F String
name="Rahima Qazi"
age=19
degree="BscIT"

print(f"My age is {age} I completed my degree of {degree} with the name of {name}")

My age is 19 I completed my degree of BscIT with the name of Rahima Qazi

In [10]:
# Format Type
name="Rahima Qazi"
age=19
degree="BscIT"

print("My age is {} I completed my degree of {} with the name of {}".format(age,degree,name))

My age is 19 I completed my degree of BscIT with the name of Rahima Qazi

# Control Flow

## Decision Making Statements

### If Statement

In [11]:
age=18
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [12]:
age=17
if age>=18:
    print("You are eligible to vote")

In [16]:
age=17
if age<18:
    print("You are not eligible to vote")

You are not eligible to vote

In [ ]:
input("Enter a Name")

Enter a Name rahima

In [2]:
age=input("Enter Your age")

Enter Your age 18

In [3]:
age

'18'

In [4]:
type(age)

str

In [6]:
# to avoid age in string format using type Casting
age=int(input("Enter Your age"))

Enter Your age 18

In [7]:
age

18

In [9]:
type(age)

int

In [10]:
# TASK 
age=int(input("Enter a age"))
if age>=18 and age<=45:
    print("You are Young blood")

Enter a age 30

You are Young blood

### If Else Statement

In [12]:
age=int(input("Enter a age"))
if age>=18 and age<=45:
    print("You are Young blood")
else:
    print("Thank You Will let You Know")

Enter a age 56

Thank You Will let You Know

In [22]:
#TASK 2
product_price = int(input("Enter A Product Price: "))  # Added colon after condition
if product_price > 3000 :
    print("The Product Price is",format((20/100)*product_price))
else :
    print("The Product Price is",format((30/100)*product_price))

Enter A Product Price:  40000

The Product Price is 8000.0

## IF Elif Statement

In [20]:
product_price = int(input("Enter A Product Price: "))  # Added colon after condition
if product_price > 3000:
    print("The Product Price is", format(product_price * 0.8))
elif 2000 <= product_price <= 3000:
    print("The Product Price is", format(product_price * 0.7))
else:
    print("The Product Price is", format(product_price * 0.6))

Enter A Product Price:  4000

The Product Price is 3200.0

In [25]:
product_price = int(input("Enter A Product Price: "))  # Added colon after condition
if product_price > 3000:
    print("The Product Price is", format(product_price * 0.8))
elif 2000 <= product_price <= 3000:
    print("The Product Price is", format(product_price * 0.7))
else :
     print("The Product Price is", format(product_price * 0.6))

Enter A Product Price:  10000

The Product Price is 8000.0

In [2]:
product_price = int(input("Enter A Product Price: "))  # Added colon after condition
if product_price > 3000:
    if product_price==4000:
        print("You Get A Goa Trip")
    print("The Product Price is", format(product_price * 0.8))
elif 2000 <= product_price <= 3000:
    if product_price==2500:
        print("You get an Additional Price")
    print("The Product Price is", format(product_price * 0.7))
else :
     print("The Product Price is", format(product_price * 0.6))

Enter A Product Price:  4000

You Get A Goa Trip
The Product Price is 3200.0

### Trying If-Elif Statements

In [9]:
Class=input("Enter a Subject")
if Class=="History":
    print("Its History Class")
elif Class=="Geography":
    print("Its Geographys Class")
elif Class=="Science":
    print("Its Science Class")
else:
    print("Its Maths Class")

Enter a Subject Science

Its Science Class

In [16]:
#### OUTCOME: If one condition satisfies it will NOT further checks the below Conditions

### Trying all if statements

In [13]:
Class=input("Enter a Subject")
if Class=="History":
    print("Its History Class")
if Class=="Geography":
    print("Its Geographys Class")
if Class=="Science":
    print("Its Science Class")
else:
    print("Its Maths Class")

Enter a Subject History

Its History Class
Its Maths Class

#### OUTCOME: If one condition satisfies it will further checks the below Conditions